@import url("gold.css") layer(gold);

:root {
    --blue: #010663;
    --grey: #7b8794;
    --yellow: #fff176;
    --green: #4caf50;
}

:root {
	--m: 2rem
}

body {
    background: var(--blue);
    color: white;
    font-family: mono
}

h1 {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    gap: .2rem;
    height: 4rem;
}

h1 div {
    border: 2px solid var(--grey);
    border-radius: 20px;
    &:nth-child(1), &:nth-child(3) {
        background: var(--yellow);
    }
    &:last-child {
        background: var(--green);
    }
}

#mobile-input {
	opacity: 0
}
@media(width > 500px) {
	#mobile-input {
		display: none
	}
}
